<div class="container">
    <h3 class="color-brown mt-3 text-center">Process detail</h3>
    <table class="table tabla-productos mt-3">
        <thead class="text-center">
            <tr>
                <th>Título</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Directorio</td>
                <td>{{datosProcess.directorio}}</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>{{datosProcess.id}}</td>
            </tr>
            <tr>
                <td>Versión</td>
                <td>{{datosProcess.version}}</td>
            </tr>
            <tr>
                <td>Título</td>
                <td>{{datosProcess.titulo}}</td>
            </tr>
            <tr>
                <td>SO</td>
                <td>{{datosProcess.so}}</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>{{datosProcess.argv}}</td>
            </tr>
            <tr>
                <td>RSS</td>
                <td>{{datosProcess.rss}}</td>
            </tr>
        </tbody>
        <tbody id="t-body-productos" class="text-center"></tbody>
    </table>
</div>